
body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
    font-family: inherit;
}

h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

#product-overview h1{ //means apply only in h1 tag having id
    font-family: 'Montserrat', sans-serif
}




/* h1 {
    font-family: sans-serif;
} */